.container {
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  position: fixed;
  justify-content: center;
}

.tabContainer {
  width: 40%;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.tab,
.active {
  width: 35%;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  transition: 0.5s;
  justify-content: center;
}

.active,
.tab:hover {
  background-color: yellow;
}

.active .tabIcon,
.tab:hover .tabIcon {
  color: rgba(0, 0, 0, 0.826);
}

.tabIcon {
  width: 25px;
  height: 25px;
  transition: 0.5s;
  color: rgba(128, 128, 128, 0.887);
}

@media (orientation: portrait) {
  .container {
    top: auto;
    bottom: 0;
    padding: 30px 20px;
  }

  .tabContainer {
    width: 100%;
  }
}
